<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Skinalyze - Hasil Analisis</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/hasil.css') }}"
    />
    <title>Hasil Analisis - Skinalyze</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">
          <img
            src="{{ url_for('static', filename='img/Logo2.png') }}"
            alt="Skinalyze Logo"
          />
        </a>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="hero"></div>
      <!-- Judul -->
        <h2>Hasil Analisis</h2>
      <h3>{{ prediction }}</h3>

      <div class="gradcam-section">
        <div class="gradcam-card">
          <img src="data:image/jpeg;base64,{{ original_b64 }}" alt="Foto User" />
          <p>Foto Asli</p>
        </div>
        <div class="gradcam-card">
          <img src="data:image/jpeg;base64,{{ heatmap_b64 }}" alt="Grad-CAM" />
          <p>Grad-CAM</p>
        </div>
        <div class="gradcam-card">
          <img src="data:image/jpeg;base64,{{ overlay_b64 }}" alt="Overlay Grad-CAM" />
          <p>Overlay</p>
        </div>
      </div>
    </div>

    <section class="penjelasan-section">

      {% if explanation %}
      <div class="explanation">
        <h3>Penjelasan Hasil & Grad-CAM</h3>
        <p>{{ explanation|safe }}</p>
      </div>
      {% endif %} {% if recommendation %}
      <div class="recommendation">
        <h3>Rekomendasi Perawatan</h3>
        <p>{{ recommendation|safe }}</p>
      </div>
      {% endif %}

      <div class="scan-new-container">
        <a href="{{ url_for('index') }}" class="scan_new_btn">Upload gambar lain</a>
      </div>
    </section>

    <footer id="contactus">
      <div class="container">
        <div class="footer-logo">
          <img
            src="{{ url_for('static', filename='img/Logo2.png') }}"
            alt="Skinalyze Logo"
          />
        </div>
        <p class="footer-tagline">Analisis Cerdas untuk Kulit Wajah Sehat</p>
        <p class="contact-info">
          <a
            href="https://mail.google.com/mail/?view=cm&fs=1&to=gegefaithskripsi@gmail.com"
            target="_blank"
            class="email-link"
          >
            gegefaithskripsi@gmail.com
          </a>
        </p>

        <div class="social-icons">
          <a
            href="https://www.facebook.com/faithza.mandolang.1"
            target="_blank"
            aria-label="Facebook"
          >
            <i class="fab fa-facebook"></i>
          </a>
          <a
            href="https://www.instagram.com/grceb_?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
            target="_blank"
            aria-label="Instagram"
          >
            <i class="fab fa-instagram"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/faithza-azalia-29a19b1a0"
            target="_blank"
            aria-label="LinkedIn"
          >
            <i class="fab fa-linkedin"></i>
          </a>
        </div>
      </div>
    </footer>
    <script src="{{ url_for('static', filename='js/Navscroll.js') }}"></script>
  </body>
</html>
