<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail History - Skinalyze</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='css/hasil.css') }}"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">
          <img
            src="{{ url_for('static', filename='img/Logo2.png') }}"
            alt="Skinalyze Logo"
          />
        </a>
      </div>
    </nav>

    <!-- Container -->
    <div class="container">
      <div class="hero"></div>
      <h2>Detail Analisis</h2>
      <h3>{{ data.prediction }}</h3>

      <div class="gradcam-section">
        <div class="gradcam-card">
          <img
            src="data:image/jpeg;base64,{{ data.original_b64 }}"
            alt="Foto Asli"
          />
          <p>Foto Asli</p>
        </div>
        <div class="gradcam-card">
          <img
            src="data:image/jpeg;base64,{{ data.heatmap_b64 }}"
            alt="Grad-CAM"
          />
          <p>Grad-CAM</p>
        </div>
        <div class="gradcam-card">
          <img
            src="data:image/jpeg;base64,{{ data.overlay_b64 }}"
            alt="Overlay Grad-CAM"
          />
          <p>Overlay</p>
        </div>
      </div>
    </div>

    <!-- Penjelasan dan Rekomendasi -->
    <section class="penjelasan-section">
      {% if data.explanation %}
      <div class="explanation">
        <h3>Penjelasan Hasil & Grad-CAM</h3>
        <p>{{ data.explanation|safe }}</p>
      </div>
      {% endif %} {% if data.recommendation %}
      <div class="recommendation">
        <h3>Rekomendasi Perawatan</h3>
        <p>{{ data.recommendation|safe }}</p>
      </div>
      {% endif %}

      <div class="scan-new-container">
        <a href="{{ url_for('history') }}" class="scan_new_btn"
          >Kembali ke Riwayat</a
        >
      </div>
    </section>

    <script src="{{ url_for('static', filename='js/navscroll.js') }}"></script>
  </body>
</html>
